services:
  - type: worker
    name: whatsapp-companion-bot
    env: python
    region: frankfurt
    plan: free
    buildCommand: |
      chmod +x setup.sh
      ./setup.sh
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: PLAYWRIGHT_HEADLESS
        value: true
      - key: RENDER
        value: true
      - key: PORT
        value: 8080

databases:
  - name: whatsapp-bot-db
    plan: free
    databaseName: whatsappbot
    user: whatsappuser
